RewriteEngine On
# Se o seu site beta abre direto em beta.misturadeluz.com, use /
# Se abrir em beta.misturadeluz.com/beta, mantenha /beta/
RewriteBase / 

# 1. Não aplique as regras se o arquivo existir (CSS, JS, Imagens)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 2. Manda para o index.html da pasta atual
RewriteRule ^ index.html [L]